<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>taobaom</title>
    
    <script src="js/flexible.js"></script>
    <link rel="stylesheet" href="Swiper-4.0.7/dist/css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
   <header>
       <div class="container">
            <div class="logo">
            </div>
            <div class="select">
                 <p><a href="#">寻找宝贝店铺</a></p>
            </div>
       </div>
   </header>
   <div class="banner">
          <div class="swiper-container">
               <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/b1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/b2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/b3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/b4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/b5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/b6.jpg" alt=""></div>
               </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
   </div>
   <section>
       <div class="container">
            <ul class="lists">
                <li>
                    <div class="tcat">
                    </div>
                    <p>天猫</p>
                </li>
                <li>
                    <div class="ju">
                    </div>
                    <p>聚划算</p>
                </li>
                <li>
                    <div class="tian">
                    </div>
                    <p>天猫国际</p>
                </li>
                <li>
                    <div class="wai">
                    </div>
                    <p>外卖装置</p>
                </li>
                <li>
                    <div class="chao">
                    </div>
                    <p>天猫超市</p>
                </li>
            </ul>
            <ul class="lists">
                <li>
                    <div class="chong">
                    </div>
                    <p>充值中心</p>
                </li>
                <li>
                    <div class="lv">
                    </div>
                    <p>天猫旅行</p>
                </li>
                <li>
                    <div class="fei">
                    </div>
                    <p>飞猪</p>
                </li>
                <li>
                    <div class="pai">
                    </div>
                    <p>拍卖</p>
                </li>
                <li>
                    <div class="fen">
                    </div>
                    <p>分类</p>
                </li>
            </ul>
            
       </div>
   </section>
   <div class="section-two">
        <div class="container">
             <div class="s2-logo">
                  <img src="images/news.png" alt="">
             </div>
             <div class="s2-news">
                  <ul>
                      <li class="li1"><span>手机</span> 锤子喊话小米：128G+双摄，降5百！</li>
                      <li><span>数码</span> 如何检测手机卡是否二手号码？只需这一步</li>
                      <li><span>运动</span> 汤普森：买一双AJ不如买三双安踏</li>
                      <li><span>家居</span> 70平小家简装完工了，看起来干净又好看</li>
                      <li><span>电子</span> 才发现，原来是这个小东西影响了网速啊！</li>
                  </ul>
             </div>
        </div>
   </div>
   <main>
       <div class="main-top">
            <div class="mt-left">
                 <div class="timer">
                  <span id="h">20</span><i><b>:</b></i>
                  <span id="m">60</span><i><b>:</b></i>
                  <span id="s">00</span>
                 </div>
            </div>
            <div class="mt-right">
                 <div class="m-r-left">   
                 </div>
                 <div class="m-r-right">   
                 </div>
                 <div class="clear"></div>
                 <div class="mt-bottom">
                      <div class="b-l">
                      	
                      </div>
                      <div class="b-r">
                      	
                      </div>
                 </div>
            </div>
            
       </div>
       
       <div class="main-center">
       	    <div class="center-h">
       	    	 <h2> <span><img src="images/b1.png" alt=""></span> 超实惠</h2>
       	    </div>
       	    <div class="center-left">
       	    	 <div class="c-l-t">
       	    	  <img src="images/shop1.jpg" alt="">
       	    	 </div>
       	    	 <div class="c-l-r">
       	    	  <img src="images/shop2.png" alt="">
       	    	 </div>
       	    </div>
       	    <div class="center-right">
       	    	 <ul>
       	    	 	<li><img src="images/shop3.png" alt=""></li>
       	    	 	<li><img src="images/shop4.png" alt=""></li>
       	    	 	<li><img src="images/shop5.jpg" alt=""></li>
       	    	 </ul>
       	    	 <ul class="l-ul">
       	    	 	<li><img src="images/shop6.jpg" alt=""></li>
       	    	 	<li><img src="images/shop7.jpg" alt=""></li>
       	    	 	<li><img src="images/shop8.png" alt=""></li>
       	    	 </ul>
       	    </div>
       </div>
       <div class="main-bottom">
       	    <div class="center-h">
       	    	 <h2> <span><img src="images/b1.png" alt=""></span>必逛品</h2>
       	    </div>
       	    <div class="b-top">
       	    	 <div class="b-top-l">
       	    	  <img src="images/shop9.png" alt="">  
       	    	 </div>
       	    	 <div class="b-top-l">
       	    	  <img src="images/shop10.png" alt="">  
       	    	 </div>
       	    </div>
       	    <div class="b-bottom">
       	    	 <ul>
       	    	 	<li><img src="images/s1.png" alt=""></li>
       	    	 	<li><img src="images/s2.jpg" alt=""></li>
       	    	 	<li><img src="images/s3.jpg" alt=""></li>
       	    	 	<li><img src="images/s4.jpg" alt=""></li>
       	    	 </ul>
       	    </div>
       </div>
       <div class="main-bottom-2">
            <img src="images/bluei.jpg" alt="">
       </div>
       <div class="main-bottom-3">
            <div class="b-3-top">
                 <h1>每日好店</h1>
                 <h1>更多</h1>
            </div>
            <div class="b-3-bottom">
                 <div class="left">
                      <div class="l-left">
                           <img src="images/eat.jpg" alt="">
                           <h2>今日推荐</h2>
                      </div>
                      <div class="l-right">
                           <img src="images/eat2.jpg" alt="">
                           <img src="images/eat3.jpg" alt="">
                      </div>
                      
                 </div>
                 <div class="right">
                      <div class="l-left">
                           <img src="images/eat.jpg" alt="">
                           <h2>包包控</h2>
                      </div>
                      <div class="l-right">
                           <img src="images/eat2.jpg" alt="">
                           <img src="images/eat3.jpg" alt="">
                      </div>
                      
                 </div>
            </div>
                 
            
       </div>
       <div class="gusses">
           <h2><img src="images/heart.png" alt=""> <b> 猜你喜欢</b></h2>
       </div>
       
       <div class="four-div">
            <ul>
                <my-li v-for="list in lists" v-bind="list"></my-li>
            </ul>
            <ul>
                <my-li v-for="list in lists" v-bind="list"></my-li>
            </ul>
       </div>

   </main>
   
   <footer>
   	   <div class="container">
   	   	    <div class="f-nav">
   	   	    	 <ul>
   	   	    	 	<li><a href="#">登录</a></li>
   	   	    	 	<li><a href="#">注册</a></li>
   	   	    	 	<li><a href="#">电脑版</a></li>
   	   	    	 	<li><a href="#">用户反馈</a></li>
   	   	    	 </ul>
   	   	    </div>
   	   	    <p>2016浙 B2-02480224 服务中心</p>
   	   </div>
   </footer>
   
   <div class="floors">
   	    <ul>
   	    <li class="li1">第一屏</li>
   	    <li>第二屏</li>
   	    <li>第三屏</li>
   	    <li>第四屏</li>
   	    </ul>
   </div>
   
   <script src="Swiper-4.0.7/dist/js/swiper.min.js"></script>
   <script src="js/vue.min.js"></script>
   <script src="js/index.js"></script>
   <script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
		    autoplay:true,
            speed:1200,
      pagination: {
        el: '.swiper-pagination',
      },
    });
   </script>
</body>
</html>